.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
/back-end/.env
bower_components

*.sublime*

psd
thumb
sketch

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
