.navbar {
    overflow: hidden;
    background-color: #1c87c9;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar a:hover {
    color: black;
  }
  .navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
 